@import './utils/variables';
@import './utils/mixins';
@import './utils/default';

.w {
  &-564px {
    width: 564px;
  }
}

.translate {
  &-y {
    &-100 {
      transform: translateY(100%);
    }
    &-50 {
      transform: translateY(50%);
    }
    &--50 {
      transform: translateY(-50%);
    }
  }
}

.b-t-1px-F2F2F2 {
  border-top: 1px solid #F2F2F2;
}

.txt-color {
  &-red {
    color: red;
  }
  &-4F4F4F {
    color: #4F4F4F;
  }
}
.pp {
  &-20 {
    padding: 20%;
  }
  &x {
    &-20 {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}

.p {
  &t {
    &-5_2 {
      padding-top: 5.2rem;
    }

    &-5_8 {
      padding-top: 5.8rem;
    }
  }
  &b {
    &-5_2 {
      padding-bottom: 5.2rem;
    }

    &-5_8 {
      padding-bottom: 5.8rem;
    }
  }
  &l-12p {
    padding-left: 12%;
  }
}

.c{
  &b-E5E5E5 {
    background-color: #E5E5E5;
    &-25 {
      background-color: rgba(#E5E5E5, .25);
    }
  }
  &b-FFF8EC {
    background-color: #fff8ec;
    &-25 {
      background-color: rgba(#fff8ec, .25);
    }
  }
  &b-03045E {
    background-color: #03045E;
    &-25 {
      background-color: rgba(#03045E, .25);
    }
  }
  &-E5E5E5 {
    color: #E5E5E5;
  }
}
.shadow-panel {
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.05),
    0px 25px 35px rgba(51, 51, 51, 0.03);
  border-radius: 12px;
}
.action-btn {
  padding: 1.6rem 1.3rem !important;
  font-family: Poppins;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 24px !important;
  letter-spacing: 0.08em !important;
  color: #03045E !important;
  width: auto !important;
}

@media screen and (max-width: 600px) {
  .mpp {
    &-2_7 {
      padding: 20%;
    }
    &x {
      &-2_7 {
        padding-left: 2.7rem !important;
        padding-right: 2.7rem !important;
      }
    }
  }
}


.z{
  &-max {
    z-index: 99999999999999999;
  }
  &--1 {
    z-index: -1;
  }
}
.w-80p {
  width: 80%;
}

.bg-dark-transparent {
  background: rgba(#1b1b1c, .25);
}

.nav{
  &-open {
    left: 0% !important;
  }
  &-slide {
    transition: all .5s;
    height: 100vh;
    left: -100%;
  }
}


.notice{
  &-open {
    right: 0% !important;

  }
  &-slide {
    position: fixed;
    top: 0px;
    transition: all .5s;
    height: 100vh;
    right: -100%;
  }
}

.h {
  &-vh {
    &-50 {
      max-height: 50vh;
    }
    &-60 {
      min-height: 40vh;
      max-height: 60vh;
    }
    &-70 {
      max-height: 70vh;
    }
    &-100 {
      min-height: 0vh;
      max-height: 100vh;
      &-8rem {
        height: calc(100vh - 8rem);
      }
      &-24rem {
        height: calc(100vh - 24rem);
      }
      &-28rem {
        height: calc(100vh - 28rem);
      }
      &-28rem {
        height: calc(100vh - 28rem);
      }
    }
  }
}

.text-accent {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: center;
  color: rgba(250, 182, 11, 1);

  &.underline {
    text-decoration: underline;
  }
}