@mixin appearance($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
  box-shadow: none;
  outline: none;
}

@mixin font-size-color {
  font-size: $inputShrinkSize;
  color: dimgrey;
}
