// MEASUREMENTS
$defaultFontSize: 10px;
$baseFontSize: 1.4rem;
$defaultPadding: 1rem;
$largeFont: 3.2rem;
$inputHeight: 5rem;
$defaultBorderRadius: .3rem;

// COLORS
$subColor: #03045e;
$lightGrey: #e2e2e2;
$gold: #fab60b;
$bgcolor2: #E5E5E5;
$bgcolor1: white;
$accentColor2: rgba(3, 4, 94, 1);
$defaultTextColor: rgba(29, 29, 27, 1);


//
$baseLabelInputPadding: .5rem;